/** Add css rules here for your application. */

html,
body {
    margin: 0;
    padding: 0px;
    background: #FFFFFF;
    height: 100%; 
    /*
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
}

body, div {
    font-family: Frutiger, "system-ui", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#ol-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;    
}

.wgcLinkContainer {
    display: inline-block;
    vertical-align: middle;            
    color: black;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    top: 8px;
    left: 8px;

    overflow-y: auto;
    max-width: 100%;    
    font-weight: bold;
    font-size: 14px;
    padding: 3px;
    line-height: 20px;
    padding: 3px;
}

.wgcLinkContainer img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 8px; /* Adjust spacing between image and text */
}

.wgcLinkContainer span {
    vertical-align: middle;
}


a.wgcLink {
    color: black;
    text-decoration: none !important;
}

a.wgcLink:hover {
    color: black;
    text-decoration: underline !important;
}  

a.wgcLink:visited {
    color: black; 
    text-decoration: none !important;
}      

