name: wgc-embedded

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'

jobs:
  build:
    env:
      DOCKER_ACCOUNT: sogis
      DOCKER_REPO: wgc-embedded
      DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}} 
      BUILD_NUMBER: ${{ github.run_number }}
      MAJOR_NUMBER: "2"
      MINOR_NUMBER: "0"

    runs-on: ubuntu-latest

    steps:
      - name: Print new build number
        run: echo "Build number is $BUILD_NUMBER"

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Mirror commits to Codeberg
        uses: spyoungtech/mirror-action@v0.7.0
        with:
          REMOTE: "https://codeberg.org/edigonzales/wgc-embedded.git"
          GIT_USERNAME: ${{ secrets.CODEBERG_USER }}
          GIT_PASSWORD: ${{ secrets.CODEBERG_PASSWORD }}

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'     
          distribution: 'graalvm' #graalvm-community
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'

      - name: Test and build Jar
        run: |
          ./mvnw clean test -DexcludedGroups="docker"
          ./mvnw -Penv-prod,native clean package -DexcludedGroups="docker"
          ls -la wgc-embedded-server/target

      - name: List Docker images
        run: |
          docker images

      - name: Test Docker image
        id: dockerTest
        run: ./mvnw test -Dgroups="docker"

      - name: Login to Docker Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ (github.ref == 'refs/heads/main') && (github.event_name != 'pull_request') && !env.ACT }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ (github.ref == 'refs/heads/main') && (github.event_name != 'pull_request') && !env.ACT }}

      - name: Set up QEMU for amd64 #and arm64
        uses: docker/setup-qemu-action@v2
        with:
          platforms: linux/amd64 #,linux/arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Multi-platform build and push to Docker Container Registry and Github Container Registry
        if: always() && (steps.dockerTest.outcome == 'success')
        uses: docker/build-push-action@v2
        with:
          cache-from: |
            ${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:cache
          cache-to: |
            ${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:cache
          platforms: linux/amd64 #,linux/arm64
          context: wgc-embedded-server
          file: wgc-embedded-server/Dockerfile.native
          labels: ${{ steps.meta.outputs.labels }}
          pull: true
          push: ${{ (github.ref == 'refs/heads/main') && (github.event_name != 'pull_request') && !env.ACT }}
          tags: |
            ${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:latest
            ${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:${{ env.MAJOR_NUMBER }}.${{ env.MINOR_NUMBER }}.${{ env.BUILD_NUMBER }}
            ${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:${{ env.MAJOR_NUMBER }}.${{ env.MINOR_NUMBER }}
            ${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:${{ env.MAJOR_NUMBER }}
          # tags: |
          #   ${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:latest
          #   ${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:${{ env.MAJOR_NUMBER }}.${{ env.MINOR_NUMBER }}.${{ env.BUILD_NUMBER }}
          #   ${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:${{ env.MAJOR_NUMBER }}.${{ env.MINOR_NUMBER }}
          #   ${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:${{ env.MAJOR_NUMBER }}
          #   ghcr.io/${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:latest
          #   ghcr.io/${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:${{ env.MAJOR_NUMBER }}.${{ env.MINOR_NUMBER }}.${{ env.BUILD_NUMBER }}
          #   ghcr.io/${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:${{ env.MAJOR_NUMBER }}.${{ env.MINOR_NUMBER }}
          #   ghcr.io/${{ env.DOCKER_ACCOUNT }}/${{ env.DOCKER_REPO }}:${{ env.MAJOR_NUMBER }}